html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Encabezado */
.navbar-custom {
    background-color: #a6a6a6; /* gris similar */
    padding: 0.5rem 1rem;
}

    .navbar-custom .nav-link {
        color: white;
        font-weight: 500;
        margin-right: 1rem;
    }

        .navbar-custom .nav-link:hover {
            color: #e0e0e0;
        }

.navbar-brand img {
    height: 40px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#nombreAlumno {
    margin-right: 24px;
}
#imgHome {
    margin: 0;
    padding: 0;
    object-fit: cover;
    display: block;
    position: absolute;
    top:40%;
    left: 40%;
}
#bHome {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 20px;
    font-weight:600;
    
}
    #bHome::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 4px;
        background: linear-gradient(90deg, black, #a6a6a6, black); /* Degradado dorado */
        border-radius: 2px;
    }

/*estilo de la tabla */
.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif; 
    font-size: 14px;
}
.tabla-usuarios th,
.tabla-usuarios td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}

.tabla-usuarios thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-usuarios td.acciones {
    text-align: center;
    white-space: nowrap;
}

/*estilo botones info y eliminar*/
.acciones .btn {
    background: none;
    border: none;
    color: black;
    padding: 4px 6px;
}
.acciones .btn-info:hover {
    color: blue;
}
.acciones .btn-danger:hover {
    color: red;
}


