@{
    ViewData["Title"] = "Home Page";
}
<svg id="imgHome" width="314" height="175" viewBox="0 0 314 175" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M237 56L293.5 95.5L278 172H172L162.5 163" stroke="black" stroke-width="6" />
    <path d="M179 95.5L219 121L214 134.5H237L243 121L185 77.5" stroke="black" stroke-width="6" />
    <path d="M114 172H11.5L4 158.5L32 29.5L11.5 3H85L56 134H80L107 17.5M114 172L141.5 40.5H126L107 17.5M114 172H160L191.5 40.5L187.787 56H237L239.925 40.5M107 17.5L93.5 3H247M247 3H298.5L310.5 17.5L298.5 78.5L256.5 56L261 40.5H239.925M247 3L239.925 40.5" stroke="black" stroke-width="6" />
</svg>
<p id="bHome">BIENVENIDO</p>

